@charset "utf-8";
.info_dictionary {}
.info_dictionary dt { font-size: 20px; font-weight:bold; color: var(--theme-fontcolor); padding-top: 16px; margin:0 0 16px; }
.info_dictionary dd { color: var(--theme-fontcolor); }
.info_dictionary dd:last-child { border-bottom: 1px dashed #fff; }
.info_dictionary dd .tx_dic_name { font-size: 16px; margin-bottom:8px; }
.info_dictionary dd .tx_desc { font-size: 13px; opacity: .8; margin-bottom:16px; }
.info_dictionary dd .tx_box { padding:16px; border-radius: 8px; font-size: 13px; margin-bottom:8px;}
.info_dictionary dd .tx_good { background-color: rgba(105, 255, 115,.7);}
.info_dictionary dd .tx_bad { background-color: rgba(245, 166, 166,.7);}
.info_dictionary dd .tx_mention { background-color: rgba(0,0,0,.7); font-size: 16px; }
.info_dictionary dd .tx_box em { display: inline-block; font-size: 14px; font-weight: bold; margin-bottom: 8px;}